@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@400;600;800&display=swap');

:root {
    --primaryColor: #161925;
    --secondaryColor: #FDFFFC;
    --terciaryColor:#F1D302;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.title {
    font-weight: 600;
    color: var(--primaryColor);
}

.container {
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation__container{
    background-color: var(--primaryColor);
    height: 5rem;
    width: 100%;
}

/*
line-height: 80px
width: 7rem;
*/
.navigation__container__logo{
    width: 7rem;
    line-height: 115px;
    padding: 0 100px;
}

.navigation__logo {
    width: 7rem; /* Para delimitar o quadrado de fundo da logo */
}

.menu__container {
    position: absolute; /* Para mover o menu para o local certo */
    top: 0px;
    right: 0px;    
    margin-right: 20px;
}

.menu__container__item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.menu__container__link {
    color:var(--secondaryColor);
    font-size: 1rem;
    padding: 3px 12px;
    border-radius: 21px;
    margin: 0 2px;
    text-transform: uppercase;
}

.menu__container__link:hover, .active{
    color:var(--primaryColor);
    background: var(--secondaryColor);
    transition: .2s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 13rem);
}

.planilha {
    display: flex;
    flex-direction: column;    
    margin-top: 30px;
    margin-bottom: 30px;
}

.planilha__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    
}

.planilha__body {
    color: var(--primaryColor);
    padding: 8px 24px;
    padding-left: 6px;
    text-transform: uppercase;
}

.planilha__header__item {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    text-align: center;
    padding: 0 30px;
}

.footer {
    background-color: var(--primaryColor);
    min-height: 8rem;
    color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between;
    width: 100%;
}    

.footer__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer__main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__main__group{
    padding: 10px 15px;
    font-size: 0.6rem;
    letter-spacing: 0.8px;
}

.footer__item__header {
    font-weight: 700;
}

.footer__copyright {
    font-size: 0.8rem;
}

@media (max-width: 858px){
    .navigation__container__logo{
        padding: 0 50px;
    }
}

 @media (max-width: 768px) {
    .checkbtn{
        display: block;
      }

      .menu__container{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--primaryColor);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }

      .menu__container__item{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      
      .menu__container__link{
        font-size: 1.3rem;
      }

      .menu__container__link:hover, .active{
        background: var(--secondaryColor);
      }

      #check:checked ~ .menu__container{
        left: 0;
      }

      .footer__main {
        text-align: center;
        flex-direction: column;
        justify-content: center;
      }

      .footer__main__group {
        margin: 8px 16px;
      }
 }
